@media mouse {
}
@media touch { /* try to build it for both */
}
#top-menu {
    /* aligns <using as> and <login toggle> right */
    /* "hello, $user" | "guest mode" */
}
    .tab{
        /*aligns tabs left*/
    }
#dj-controls {
    /* generated objects have links to set antenna audio source */
    /* circle, on hover show name of station & information */
}
.search {
    /* make text entry look nice */
}
.dialog {
    /* align center, fade everything else, transition */
    position:absolute;
    text-align:center;
    padding:20px;
    margin:-50%;
}
#player {
    position:fixed;
    width:90%;
    height:90%;
}
  #now-playing{
      text-align:center;
      /* "playing $song by $artist on $antenna" */
  }
  #audio-controls{
      /* specific format of play/stop stream */
  }
  #player-list{
  }
  .previous{
      opacity:.8;
  }
  .now{
      opacity:1;
  }
  .next{
      opacity:.9;
  }
#social {
    /*right, 20% from top*/
    position:fixed;
    right:0;
    top:20%;
}
    .social-button{
        /*cool theme*/
    }
.login{
}
#footer{
    /*bottom, align links to the right*/
}
    #terms{
        /*.dialog*/
    }
        #report-song{
        }